html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(102, 85, 65);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.outer-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64.5vh;
    width: 40.5vh;
    background-color: rgb(34, 33, 33);
    border: .5vh solid rgb(36, 35, 35);
    border-radius: 1.8vh;
}

.inner-frame {
    display: flex;
    flex-direction: column;
    height: 60.5vh;
    width: 37.5vh;
    background-color: rgb(29, 28, 28);
    border: .5vh solid rgb(32, 31, 31);
    border-radius: 1.8vh;
}